



/* 

.pubg_section{
    width: 100%;
    height: 100%;
    background-color: brown;
}

.pubg_section_banner{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.pubg_section_banner_Logo{
    width: 350px;
    height: 350px;
    background-image: url("/img/add2.png");
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.pubg_section_playerarea{
    width: 100%;
    height: 100%;
}

.pubg_section_player_pic{
    width: 100%;
    height: 50vh;
    background-color: blue;
}

.pubg_section_player_intro{
    width: 100%;
    height: 50vh;
    background-color: orangered;
}

.r6_section{
    width: 100%;
    height: 100%;
    background-color: brown;
}

.r6_section_banner{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.r6_section_banner_Logo{
    width: 350px;
    height: 350px;
    background-image: url("/img/add2.png");
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.r6_section_playerarea{
    width: 100%;
    height: 100%;
}

.r6_section_player_pic{
    width: 100%;
    height: 50vh;
    background-color: blue;
}

.r6_section_player_intro{
    width: 100%;
    height: 50vh;
    background-color: orangered;
}

.apex_section{
    width: 100%;
    height: 100%;
    background-color: brown;
}

.apex_section_banner{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.apex_section_banner_Logo{
    width: 350px;
    height: 350px;
    background-image: url("/img/add2.png");
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.apex_section_playerarea{
    width: 100%;
    height: 100%;
}

.apex_section_player_pic{
    width: 100%;
    height: 50vh;
    background-color: blue;
}

.apex_section_player_intro{
    width: 100%;
    height: 50vh;
    background-color: orangered;
}

.smash_section{
    width: 100%;
    height: 100%;
    background-color: brown;
}


.smash_section_banner{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.smash_section_banner_Logo{
    width: 350px;
    height: 350px;
    background-image: url("/img/add2.png");
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.smash_section_playerarea_leffen{
    width: 100%;
    height: 50vh;
    margin: auto;
}

.smash_section_playerintro_leffen{
    width: 1110px;
    height: 350px;
    background-color: red;
    float: left;
    margin-bottom: 30px;
    
}   
.smash_section_player_leffen_pic{
    width: 350px;
    height: 350px;
    background-color: white;
    float: left;
    background-image: url("/img/add2.png");
    
}

.smash_section_playerarea_tweek{
    width: 100%;
    height: 50vh;
    
}

.smash_section_playerintro_tweek{
    width: 1110px;
    height: 350px;
    background-color: red;
    float: right;
    margin-bottom: 30px;
    
}   
.smash_section_player_tweek_pic{
    width: 350px;
    height: 350px;
    background-color: white;
    float: right;
    background-image: url("/img/add2.png");
    
}
 */


/*






.RL_section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.spsonser{
    width: 100%;
    height: 100vh;
    background-color: brown;
}

.footer{
    width: 100%;
    height: 100vh;
    background-color: white;
} */